
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
   
    #wordCloud a {
      text-decoration: none;
    }

   
    #wordCloud {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px; 
      margin: 50px auto; 
    }
  </style>
  <title>Word Cloud Project</title>
</head>
<body>
  <div id="wordCloud"></div>

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>
    // Fetch top stories from the New York Times API
    fetch('/api/word-cloud')
      .then(response => response.json())
      .then(data => {
   
        const words = data.words;

       
        d3.select('#wordCloud')
          .selectAll('a')
          .data(words)
          .enter()
          .append('a')
          .attr('href', d => d.url)
          .attr('target', '_blank') // Open link in a new tab
          .append('span')
          .text(d => d.word)
          .style('font-size', d => `${d.count * 5}px`) // Adjust the multiplier as needed
          .style('color', getRandomColor)
          .style('margin-right', '0.2rem')

      })
      .catch(error => console.error('Error fetching top stories:', error));

    // Function to generate a random color
    function getRandomColor() {
      return '#' + Math.floor(Math.random()*16777215).toString(16);
    }
  </script>
</body>
</html>
